In [40]:
#  Import

In [41]:
import pandas as pd

df= pd.read_excel("supermarket_sales.xlsx")
df1=df[["Gender","Product line","Total"]]

In [42]:
pt=df.pivot_table(index="Gender", columns="Product line", values="Total", aggfunc="sum").round(0)
#set two coloumn into a n*n metrix

pt

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,27102.0,30437.0,33171.0,18561.0,30037.0,28575.0
Male,27236.0,23868.0,22974.0,30633.0,23825.0,26548.0

In [43]:
pt.to_excel("pt.xlsx","Report",startrow=4)

In [44]:
# add chart

In [45]:
from openpyxl import load_workbook

wb = load_workbook("pt.xlsx")
sheet = wb["Report"]

min_col = wb.active.min_column
max_col = wb.active.max_column
min_row = wb.active.min_row
max_row = wb.active.max_row

lst=[
    min_col,
    max_col,
    min_row,
    max_row 
]

print(lst)

from openpyxl.chart import (
    BarChart,
    Reference
)

bc= BarChart()

data=Reference(sheet,
        min_col=lst[0]+1,
        max_col=lst[1],
        min_row=lst[2],
        max_row=lst[3]
         )

category=Reference(sheet,
        min_col=lst[0],
        max_col=lst[0],
        min_row=lst[2]+1,
        max_row=lst[3])

bc.add_data(data, titles_from_data=True)
bc.title = "Sales By PL"
bc.style = 6
bc.set_categories(category)

sheet.add_chart(bc,"B12" )
wb.save("bc.xlsx")

[1, 7, 5, 7]

In [46]:
# Formula

In [47]:
from openpyxl.utils import get_column_letter
for i in range(min_col+1,max_col+1):
    sheet[f'{get_column_letter(i)}8'] =f"=SUM({get_column_letter(i)}6:{get_column_letter(i)}7)"

wb.save("rp.xlsx")